.footer {
    background-color: var(--first-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    margin-top: 20px;
}

.address-list__link {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    transition: color var(--time-function);
    
        &:hover,
        &:focus, {
                color: var(--tuch-color);
            }
}

.address-list__contact {
    color: var(--footer-contacts-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    transition: color var(--time-function);

        &:hover,
        &:focus {
            color: var(--tuch-color);
        }
}

.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}




.address-box {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-social-list {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.sooter-social-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--footer-social-bg);
    fill: var(--white-color);
    transition: background-color var(--time-function);

        &:hover,
        &:focus {
            background-color: var(--tuch-color);
        }
}



.sooter-social-list__icon {
    width: 20px;
    height: 20px;
}

.footer-form-box {
    margin-left: auto;
}

.footer-form {
    display: flex;
    align-items: center;
}

.footer-form-box__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.footer-form__field {
    margin-right: 12px;
}

.footer-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--first-background-color);
    padding-left: 16px;
}


.footer-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--tuch-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    transition: background-color var(--time-function);

        &:hover,
        &:focus {
            background-color: var(--active-button);
        }
}


.footer-form-submit__icon {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
    margin-left: 12px;
}

