.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 12px;
}

.modal-form-field-dsc {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--contact-color);
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    display: block;
    position: relative;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-field-text {
    margin-bottom: 20px;
}

.modal-form-iput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--time-function);

        &:focus {
            outline: none;
            border-color: var(--tuch-color);
        }
}



.modal-form-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    display: block;
    width: 18px;
    height: 18px;
    transition: fill var(--time-function);

    .modal-form-iput:focus + & {
            fill: var(--tuch-color);
        }
}



.modal-form-text {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--time-function);

        &:focus {
            outline: none;
            border-color: var(--tuch-color);
        }
}


.modal-form-check-field {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.modal-form-check-icon {
    width: 16px;
    height: 15px;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;

        .modal-form-check:checked + & {
            border: 1px solid var(--tuch-color);
            background-color: var(--tuch-color);
        }

        .modal-form-check:focus + & {
             box-shadow: 0 0 0 1px var(--tuch-color);
        }
}

.modal-form-check {
    position: absolute;
    appearance: none;

}

.modal-form-icon-check {
    display: none;

        .modal-form-check:checked + .modal-form-check-icon & {
            display: block;
            fill: var(--white-color);
        }
}






.modal-form-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

.modal-form-check-link {
    text-decoration: none;
    color: var(--tuch-color);
    position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 15px;
            left: 0;
            display: block;
            width: 96px;
            height: 1px;
            background-color: var(--tuch-color);
        }
}



.modal-form-submit {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: var(--tuch-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    transition: background-color var(--time-function), border-color var(--time-function);

        &:hover,
        &:focus {
            background-color: var(--active-button);
        }
}

@media screen and (min-width: 380px) and (max-width: 479px) {
    .modal-form-check-text {
        font-size: 10px;
    }

    .modal-form-check-link {
            &::after {
                content: '';
                width: 80px;
            }
    }
}


@media screen and (min-width: 1200px) {
    .modal-form-check-field {
        padding-left: 14px;
    }

    .modal-form-check-text {
        font-size: 14px;
        line-height: 1.7;
    }

    .modal-form-check-link {
        &::after {
            content: '';
            width: 114px;
        }
    }
}


// .modal-form {
//     display: flex;
//     flex-direction: column;
// }

// .modal-form-title {
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1.15;
//     text-align: center;
//     letter-spacing: 0.03em;
//     text-align: center;
//     color: var(--main-color);
//     margin-bottom: 12px;
// }

// .modal-form-field-dsc {
//     display: block;
//     font-size: 12px;
//     line-height: 1.17;
//     letter-spacing: 0.01em;
//     color: var(--contact-color);
//     margin-bottom: 4px;
// }

// .modal-form-input-wrapper {
//     display: block;
//     position: relative;
// }

// .modal-form-field {
//     margin-bottom: 10px;
// }

// .modal-form-field-text {
//     margin-bottom: 20px;
// }

// .modal-form-iput {
//     width: 100%;
//     height: 40px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     padding-left: 42px;
//     transition: border-color var(--time-function);

//     &:focus {
//         outline: none;
//         border-color: var(--tuch-color);
//     }
// }



// .modal-form-icon {
//     position: absolute;
//     top: 11px;
//     left: 12px;
//     display: block;
//     width: 18px;
//     height: 18px;
//     transition: fill var(--time-function);

//     .modal-form-iput:focus+& {
//         fill: var(--tuch-color);
//     }
// }



// .modal-form-text {
//     display: block;
//     width: 100%;
//     height: 120px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     padding: 12px 16px;
//     resize: none;
//     transition: border-color var(--time-function);

//     &:focus {
//         outline: none;
//         border-color: var(--tuch-color);
//     }
// }


// .modal-form-check-field {
//     display: flex;
//     align-items: center;
//     margin-bottom: 30px;
//     padding-left: 14px;
// }

// .modal-form-check-icon {
//     width: 16px;
//     height: 15px;
//     border: 1px solid var(--main-color);
//     border-radius: 2px;
//     cursor: pointer;
//     margin-right: 7px;

//     .modal-form-check:checked+& {
//         border: 1px solid var(--tuch-color);
//         background-color: var(--tuch-color);
//     }

//     .modal-form-check:focus+& {
//         box-shadow: 0 0 0 1px var(--tuch-color);
//     }
// }

// .modal-form-check {
//     position: absolute;
//     appearance: none;

// }

// .modal-form-icon-check {
//     display: none;

//     .modal-form-check:checked+.modal-form-check-icon & {
//         display: block;
//         fill: var(--white-color);
//     }
// }






// .modal-form-check-text {
//     font-size: 14px;
//     line-height: 1.7;
//     letter-spacing: 0.03em;
//     color: var(--contact-color);
// }

// .modal-form-check-link {
//     text-decoration: none;
//     color: var(--tuch-color);
//     position: relative;

//     &::after {
//         content: '';
//         position: absolute;
//         top: 15px;
//         left: 0;
//         display: block;
//         width: 114px;
//         height: 1px;
//         background-color: var(--tuch-color);
//     }
// }



// .modal-form-submit {
//     margin: 0 auto;
//     width: 200px;
//     height: 50px;
//     background: var(--tuch-color);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     border-color: transparent;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     text-align: center;
//     letter-spacing: 0.06em;
//     color: var(--white-color);
//     transition: background-color var(--time-function), border-color var(--time-function);

//     &:hover,
//     &:focus {
//         background-color: var(--active-button);
//     }
// }