.our-team-section {
    background-color: var(--our-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.item-background {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title-team {
    margin-bottom: 50px;
}

.list-team {
    display: flex;
    align-items: center;
    gap: 30px;
}

.team-container {
    padding: 30px;
}

.title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

.desc-position {
    color: var(--contact-color);
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-top: 10px;
}

.social-list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-color);
    transition: background-color var(--time-function), fill var(--time-function);

        &:hover,
        &:focus {
            background-color: var(--tuch-color);
            fill: var(--white-color);
        }
}


.social-list-icon {
    width: 20px;
    height: 20px;
}