@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background: var(--white-color);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--time-function), visibility var(--time-function);
    }

    .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu__container {
        position: relative;
        padding-left: 40px;
        padding-top: 38px;
    }

    .mobile-menu__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: transparent;
        border: 0;
        padding: 0;
        line-height: 0;
    }

    .mobile-menu__close-icon {
        width: 40px;
        height: 40px;
    }

    .mobile-menu-nav {
        margin-bottom: 302px;
    }

    .mobile-menu-nav__item {

        &:not(:last-child) {
            margin-bottom: 32px;
        }

    }

    .mobile-menu-nav__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--main-color);

        &:hover,
        &:focus {
            color: var(--tuch-color);
        }
    }

    .mobile-menu-contact {
        margin-bottom: 64px;
    }

    .mobile-menu-contact__item {

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .mobile-menu-contact--number {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--tuch-color);
    }

    .mobile-menu-contact-email {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--contact-color);
    }

    .mobile-menu-social {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .mobile-menu-social__item {
        position: relative;
    }

    .mobile-menu-social__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--tuch-color);
    }

    .mobile-menu-social__link--line {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            display: block;
            width: 0px;
            height: 22px;
            border: 1px solid rgba(33, 33, 33, 0.2);

        }
    }
}

@media screen and (min-width: 768px){
    .mobile-menu {
        display: none;
    }
}

