:root {
    --tuch-color: #2196F3;
    --active-button: #188CE8;
    --contact-color: #757575;
    --logo-black-color: #000;
    --main-color: #212121;
    --first-background-color: #2F303A;
    --white-color: #FFF;
    --second-background-color: #F5F5F5;
    --our-team-color: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --social-color: #AFB1B8;
    --footer-social-bg: rgba(255, 255, 255, 0.1);
    --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}